.trainer-info-container-modal {
    text-align: center;
    width: 800px;
    height: 500px;
    font-weight: normal;
    margin-top: 100px;
 
    padding: 20px;


    content: '';
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(#000, .5);
    z-index: 2;
    align-items: center;

    border: 1px solid #000;
    border-radius: 5px;

    background: #FFF;

    margin: auto;
}

.trainer-info-container-modal img {
    border-radius: 50%;
}

.trainer-info-container-modal .name {
    font-size: 30px;
    font-family: Ubuntu;
    font-weight: bold;
}

.true .image-profile {
    border: 5px solid green;
}

.false .image-profile {
    border: 5px solid red;
}

.trainer-info-container-modal .pokemons-content {
    
}

.trainer-info-container-modal .pokemons-content .listed-pokemons {
    margin: 10px;

    background: #DDD;
    border-radius: 50%;
}

.trainer-info-container-modal .pokemons-content .title {
    font-family: Ubuntu;
}