* {
    margin: 0;
    outline: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #DDD;
}

input {
    font-size: 18px;
}

button {
    cursor: pointer;
}

button:hover {
    opacity: 0.5;
}