.go-home-button {
    margin: 10px;
}

.your-pokemons-content {
    margin: 10px auto;
    padding: 10px;
    display: flex;

    width: 100%;

    overflow-x: auto;

}

.your-pokemons-content .content-pokemons {
    border-radius: 8px;
    padding: 20px;
    text-align: center;

    margin-left: 10px;

    background: #FFF;
}

.your-pokemons-content .content-pokemons .btn {
    background: transparent;
    border: 0;
}

.your-pokemons-content .content-pokemons .id {
    font-size: 20px;
    font-weight: bold;
}

.your-pokemons-content .content-pokemons img {
    width: 200px;
    height: 200px;
}

.your-pokemons-content .content-pokemons .name {
    font-weight: bold;
    font-size: 24px;

    font-family: Ubuntu;
}

.your-pokemons-content .content-pokemons .description {
    margin-top: 20px;
    width: 100%;
    text-align: justify;
    font-weight: bold;
    font-family: Ubuntu;

}

.trash-and-id {
    display: flex;
    justify-content: space-between;
}
